<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Math_tutor_application">
        <activity
            android:name=".PendingRequestActivity"
            android:exported="false" />
        <activity
            android:name=".SlotCreationTutor"
            android:exported="false" />
        <activity
            android:name=".Dashboard_tutor"
            android:exported="false" />
        <activity
            android:name=".AdminAcceptedRequestTutor"
            android:exported="false" />
        <activity
            android:name=".AdminRejectedTutor"
            android:exported="false" />
        <activity
            android:name=".AdminPendingRequestTutor"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Math_tutor_application.NoActionBar" />
        <activity
            android:name=".Welcome_non_admin"
            android:exported="false" />
        <activity
            android:name=".AdminRejectedStudent"
            android:exported="false" />
        <activity
            android:name=".AdminAcceptedRequest"
            android:exported="false" />
        <activity
            android:name=".AdminPendingRequest"
            android:exported="false" />
        <activity
            android:name=".Dashboard_admin"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".TutorActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".StudentActivity"
            android:exported="false" />
        <activity
            android:name=".TutorPastSessions"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TutorUpcomingSessionsActivity"
            android:exported="false">

        </activity>

        <meta-data
            android:name="firebase_firestore_emulator_host"
            android:value="10.0.2.2:8080" />
    </application>

</manifest>